body {
  height: 100vh;
  background: linear-gradient(0deg, rgba(204,204,204,1) 0%, rgba(221,221,221,1) 100%);
}

h1 {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-size: 4rem;
  line-height: 4.25rem;
}

.donate {
  display: flex;
  justify-content: center;
  align-items: center;
}